@model DogGo.Models.ViewModels.WalkerProfileViewModel
@{
    ViewData["Title"] = "Walker Profile";
}
<div class="container">
    <h1 class="mb-4">Walker Profile</h1>
    <div class="row">
        <div class="col-md-3">
            <img class="img-fluid rounded-circle" src="@Model.Walker.ImageUrl" alt="Walker Image" />
        </div>
        <div class="col-md-9">
            <div>
                <label class="font-weight-bold">Name:</label>
                <span>@Model.Walker.Name</span>
            </div>
            <div>
                <label class="font-weight-bold">Neighborhood:</label>
                <span>@Model.Walker.Neighborhood.Name</span>
            </div>
        </div>
    </div>
    <hr class="mt-5" />
    <div class="row mt-5">
        <div class="col-md-8">
            <h2 class="text-left">Recent Walks</h2>
            <p>
                <a class="nav-link" asp-area="" asp-controller="Walks" asp-action="Create">Add A Walk</a>
                <a class="nav-link" asp-area="" asp-controller="Walks" asp-action="Delete">Delete Walks</a>
            </p>
            <table class="table">
                <thead>
                    <tr style="color: lightgrey">
                        <th>Date</th>
                        <th>Client</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Walks walk in Model.Walks)
                    {
                        <tr>
                            <td>@walk.Date</td>
                            <td>@walk.Owner.Name</td>
                            <td>@TimeSpan.FromSeconds(walk.Duration).ToString(@"h\h\rmm\m\i\n")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="bg-light p-3">
                <h2 class="text-right" style="color: lightgrey">Total Walk Time</h2>
                <p class="text-right" style="font-size: 20px;">@TimeSpan.FromSeconds(Model.Walks.Sum(walk => walk.Duration)).ToString(@"h\h\rmm\m\i\n")</p>
            </div>
        </div>
    </div>
</div>
